{% extends "authenta/base.html" %}
{% load i18n static authenta_filters %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "authenta/css/menu.css" %}" />
<style>
#menu, #menu > a { background-color: {{ bg_dark }};  color: {{ bg_light }}; text-decoration: none; }
#menu > a:hover, #shortcuts { background-color: {{bg_darkless}}; }
#shortcuts > a { color: {{ bg_light }}; }
#shortcuts > a > img { height: 25px; }
</style>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% endblock %}

{% block navbar %}
<nav id="menu" class="wr dib1">
    <img id="logo" src="{% static url_logo %}"><!--
    --><a class="wr padr10 padl10 lh50" href="#">{{ request.user.username }}</a><!--
    --><a class="wr padr10 padl10 lh50" href="{% url 'authenta:Accounts' %}">Users</a>
</nav>
<nav id="shortcuts" class="wr dib1">
    <a class="wr pad5" href="{% url 'authenta:SignOut' %}"><img class="wr vam" src="{% static 'authenta/img/poweroff.svg' %}"></a><!--
    -->{% if request.user.is_staff %}<a class="wr pad5" href="{% url 'admin:index' %}"><img class="wr vam" src="{% static 'authenta/img/admin.svg' %}"></a>{% endif %}
</nav>
<br>
{% endblock %}