{% extends "authenta/base.html" %}
{% load i18n static %}

{% block title %}{% trans 'Login' %}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "authenta/css/login.css" %}" />
<style>
#login > h1,
#login > a:hover,
#login > form > .submit-row > input { background-color: {{ bg_dark }}; }
#login > form,
#login > a { background-color: {{ bg_darkless }}; }
#login > form > .errornote { background-color: {{ bg_light }}; }
#login > h1,
#login > a,
#login > form > .form-row > label,
#login > form > .submit-row > input { color: {{ bg_light }}; }
#login > form > .errornote { color: {{ bg_darkless }}; }
#login > form > .errornote,
#login > form > .form-row > input { border-color: {{ bg_dark }}; }
</style>
{% endblock %}

{% block content %}
<div id="login" class="wr mrga">

    <img id="logo" class="wr db mrga" src="{% static logo_url %}">

    {% if ldap and current_url == 'SignIn' %}
    <a class="wr txc db wp50 pad5 mrgb5" href="{% url 'authenta:SignInLDAP' %}">{% trans 'Connection LDAP' %}</a>
    {% elif ldap and current_url == 'SignInLDAP' %}
    <a class="wr txc db wp50 pad5 mrgb5" href="{% url 'authenta:SignIn' %}">{% trans 'Connection standard' %}</a>
    {% endif %}

    <h1 class="wr txc lh50">{% if ldap and current_url == 'SignInLDAP' %}{% trans 'Login - LDAP' %}{% else %}{% trans 'Login - Standard' %}{% endif %}</h1>
    
    <form action="{{ app_path }}" method="post" id="login-form" class="wr mrgb2">{% csrf_token %}
                    

        {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {% endif %}

        {% if form.non_field_errors %}
        <p class="errornote">{% for error in form.non_field_errors %}{{ error }}<br/>{% endfor %}</p>
        {% endif %}

        {% if user.is_authenticated %}
        <p class="errornote">
        {% blocktrans trimmed %}
            You are authenticated as {{ username }}, but are not authorized to
            access this page. Would you like to login to a different account?
        {% endblocktrans %}
        </p>
        {% endif %}

        <div class="form-row wr c80 padb10">
            {{ form.username.errors }}
            {{ form.username.label_tag }} {{ form.username }}
        </div>

        <div class="wr bdb1"></div>

        <div class="form-row wr c80 padt10">
            {{ form.password.errors }}
            {{ form.password.label_tag }} {{ form.password }}
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
        {% url 'admin_password_reset' as password_reset_url %}
        {% if password_reset_url %}
        <div class="password-reset-link">
            <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
        </div>
        {% endif %}
        <div class="submit-row">
            <label>&nbsp;</label><input class="wr db c60 wp60 pad20" type="submit" value="{% trans 'Log in' %}" />
        </div>
    </form>
    <p class="authenta wr txr f8">{% trans '*Assisted by Authenta' %}</p>
</div>
{% endblock %}