{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
{% if form_ldap %}<link rel="stylesheet" type="text/css" href="{% static "authenta/css/wr-easy.css" %}" />{% endif %}
<style>
.method { background: #79aec8; color: #fff; }
.method:nth-child(1) { border-right: 1px solid #fff; }
.wr.tbs>input:nth-child(1):checked ~ div>label:nth-child(1), .wr.tbs>input:nth-child(2):checked ~ div>label:nth-child(2)  { background: #417690; }
</style>
{{ form_standard.media }}
{% endblock %}


{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

{% if form_standard.errors and not form_standard.non_field_errors %}
<p class="errornote">
{% if form_standard.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form_standard.non_field_errors %}
{% for error in form_standard.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

{% if form_ldap.errors and not form_ldap.non_field_errors %}
<p class="errornote">
{% if form_ldap.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form_ldap.non_field_errors %}
{% for error in form_ldap.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
<p class="errornote">
{% blocktrans trimmed %}
    You are authenticated as {{ username }}, but are not authorized tol
    access this page. Would you like to login to a different account?
{% endblocktrans %}
</p>
{% endif %}

<div class="wr tbs">
  {% if form_ldap %}
  <input type="radio" class="wr tab" id="standard" name="method" checked="checked">
  <input type="radio" class="wr tab db" id="ldap" name="method">
  <div  class="wr dib1 txc wa">
    <label class="wr pad5 method" for="standard">Standard</label><label class="wr pad5 method" for="ldap">LDAP</label>
  </div>
  {% endif %}
  <div class="wr tabcontent">

    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
      <div class="form-row">
        {{ form_standard.username.errors }}
        {{ form_standard.username.label_tag }} {{ form_standard.username }}
      </div>
      <div class="form-row">
        {{ form_standard.password.errors }}
        {{ form_standard.password.label_tag }} {{ form_standard.password }}
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      {% url 'admin_password_reset' as password_reset_url %}
      {% if password_reset_url %}
      <div class="password-reset-link">
        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
      </div>
      {% endif %}
      <div class="submit-row">
        <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
      </div>
    </form>

    {% if form_ldap %}
    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
      <div class="form-row">
        {{ form_ldap.username.errors }}
        {{ form_ldap.username.label_tag }} {{ form_ldap.username }}
      </div>
      <div class="form-row">
        {{ form_ldap.password.errors }}
        {{ form_ldap.password.label_tag }} {{ form_ldap.password }}
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      <div class="submit-row">
        <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
      </div>
    </form>
    {% endif %}

</div>

</div>
{% endblock %}
